* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont,'Lato', sans-serif;
}

body {
    background: #F7FAFC;
}

h2 {
    font-size: 21px;
    color: #373F43;
  }

img {
    height: 350px;
    width: 400px;
}

p, span {
    color: #5C6970;
}

span {
    font-weight: bold;
    font-size: 16px;
}

.card {
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 400px;
    margin: 20px auto;
}

.tag {
    padding: 10px;
    margin: 5px;
    background-color: #F4F5F6;
    border-radius: 22px;
    font-size: 14px;
}

